body {
    background-color: whitesmoke;
}

table {
    border-radius: 5px;
    border:  rgba(19, 207, 113, 0.5) 6px dotted;
    

    
}

td {
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;
    width: 40px;
    height: 30px;
    text-align: center;
    background-color: rgba(220, 220, 35, 0.892);
    
    
}
table.one {
    float:left;
    margin-left: 34%;
    margin-top: 20%;
    border-spacing: 10px;
    text-decoration-style: wavy;
    width: 15%;
    height: 25%;
   
    
}

table.two {
    margin-right: 34%;
    margin-top: 20%;
    float:right;
    border-spacing: 10px;
    width: 15%;
    height: 25%;
}